@{
    Layout = null;
}

@{
    List<Management.Models.ReplyFeedback> mm =(List<Management.Models.ReplyFeedback>)ViewBag.reply;
}

@model Management.Models.Feedback



<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link href="~/lib/css/home/home.css" rel="stylesheet" type="text/css" />
        <link href="~/lib/css/validation/screen.css" rel="stylesheet" type="text/css" />
        <link href="~/lib/css/core/ligerui-common.css" rel="stylesheet" />
        <link href="~/lib/css/core/ligerui-dialog.css" rel="stylesheet" />
        <link href="~/lib/css/core/ligerui-grid-1.css" rel="stylesheet" />
        <link href="~/lib/css/core/ligerui-grid-2.css" rel="stylesheet" />
        <link href="~/lib/css/core/ligerui-icons.css" rel="stylesheet" />
        <link href="~/lib/css/core/ligerui-menu.css" rel="stylesheet" />
        <link href="~/lib/css/core/ligerui-form.css" rel="stylesheet" />
        <script src="~/lib/js/core/jquery-1.7.2.min.js" type="text/javascript"></script>  
        <script src="~/lib/js/core/jquery.validate.min.js" type="text/javascript"></script>
        <script src="~/lib/js/core/messages_zh.js" type="text/javascript"></script>
        <script src="~/lib/js/core/ligerui.min.js" type="text/javascript"></script>
        <title>问题反馈</title>
    </head>
    <body>
        <div id="info-wrap">
            <div class="navbar">
                <div class="navbar-l"></div>
                <div class="navbar-r"></div>
                <div class="navbar-icon">
                    <img alt=""  src="~/lib/css/icons/tag.gif">
                </div>
                <div class="navbar-inner">
                    <b>问题反馈</b>
                </div>
            </div>
            <div id="newFeedback">
                <input id="submit1" class="l-button3" type="button" value="返回" onclick="window.location.href = '/sys/feedback'"/>
            </div>
            <div id="lookfeedback" style="background-color:#F2F2F2;border:1px #E4E4E4 solid;padding: 5px;margin-bottom: 5px;">
                <span><b>@Model.Title</b></span><br>
                <span>发布用户：<b>@Model.CreatedManagerId</b></span>  <span>发布日期：<b>@Model.CreatedTime</b></span>
                <p>@Model.FBContext</p>
            </div>
            
            @if (ViewBag.reply != null)
            {
                foreach(var item in mm)
                { <div class="replyfeedback" style="background-color:#F2F2F2;border:1px #E4E4E4 solid;padding: 5px;margin-bottom: 5px;">
                    <span>回复用户：<b>@item.CreateManId</b></span>  <span>回复日期：<b>@Model.CreatedTime</b></span>
                    <p>@item.ReplyContent</p>
                </div> 
                }
            }
            <div style="background-color:#F2F2F2;border:1px #E4E4E4 solid;">
                <form action="/sys/replyFeedback" name="feedback-form" id="feedback-form" method="post">
                    <table cellspacing="0" cellspadding="0" style="width: 80%">
                        <tr>
                            <td>回复内容*</td>
                            <td>
                                <textarea rows="6" cols="60" name="feedbackInfo.contents" id="content"></textarea>
                                @Html.ValidationMessage("feedbackInfo.contents")
                            </td>
                        </tr>                     
                        <tr>
                            <td>&nbsp;</td>
                            <td>
                                <input type="hidden" value="admin" name="feedbackInfo.username"/>
                                <input type="hidden" value="1" name="feedbackInfo.replyid"/>
                                <input type="hidden" value="提交"/>
                                <input id="submit" class="l-button3" type="submit" value="提交"/>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <script type="text/javascript">
            $(document).ready(function () {
                $("#feedback-form").validate({
                    onkeyup: false,
                    focusInvalid: true,
                    rules: {
                        "feedbackInfo.contents": {
                            required: true
                        }
                    },
                    messages: {
                        "feedbackInfo.contents": {
                            required: "请输入内容"
                        }
                    }
                });
            });

        </script>           
</body>
</html>

